.navbar{

    float: left;
   
   
    
   

}
.navbar > button:hover{
    background-color: rgb(204, 223, 116);
    
}
.navbar > button{
    font-size: 18px;
    font-style:normal;
    background-color: #8fefbc;
    border-color: #86ebbc;  
    height: auto;
}
